.nav {
  width: 100%;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0f0f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #6f42c1;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  cursor: pointer;
}

.nav-links li {
  font-size: 1.1rem;
  transition: 0.3s ease;
}

.nav-links li:hover {
  color: #6f42c1;
  transform: translateY(-3px);
}
